.Node {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    background: #E94F37;
}

.SmallNode {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    background: #E94F37;
}

.Edge {
    background:#3775e9;
    width: 10px;
    border: 0px;
    position: absolute;
}

.SmallEdge {
    background:#3775e9;
    width: 6px;
    border: 0px;
    position: absolute;
}

.Graph {
    width: 100vw;
    height: 80vh;
    position: relative;
    border: 3px solid #0F0F3F
}