.node {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    background: #E94F37;
    border: 3px solid #E94F37;
}

.node-text {
    position: absolute;
    top: 135px;
    left: 20px;
}

.node-img-container {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
}

.node img {
    border-radius: 50%;
    position: absolute;
}

.small-node {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    background: #E94F37;
}

.edge {
    background:#3775e9;
    width: 10px;
    border: 0px;
    position: absolute;
}

.small-edge {
    background:#3775e9;
    width: 6px;
    border: 0px;
    position: absolute;
}

.graph {
    width: 100vw;
    height: 80vh;
    position: relative;
    border: 3px solid #0F0F3F
}