.small-node-editor-height-inc {
  left: -25px;
  top: 40px;
  position: absolute;
}

.node-editor-height-inc {
  left: -30px;
  top: 50px;
  position: absolute;
}

.small-node-editor-height-dec {
  left: -25px;
  top: 55px;
  position: absolute;
}

.node-editor-height-dec {
  left: -30px;
  top: 65px;
  position: absolute;
}

.small-node-editor-width-inc {
  left: -35px;
  top: 20px;
  position: absolute;
}

.node-editor-width-inc {
  left: -40px;
  top: 30px;
  position: absolute;
}

.small-node-editor-width-dec {
  left: -20px;
  top: 20px;
  position: absolute;
}

.node-editor-width-dec {
  left: -25px;
  top: 30px;
  position: absolute;
}

.small-node-editor-left-inc {
  left: 120px;
  top: 20px;
  position: absolute;
}

.node-editor-left-inc {
  left: 150px;
  top: 30px;
  position: absolute;
}

.small-node-editor-left-dec {
  left: 135px;
  top: 20px;
  position: absolute;
}

.node-editor-left-dec {
  left: 165px;
  top: 30px;
  position: absolute;
}

.small-node-editor-top-inc {
  left: 128px;
  top: 40px;
  position: absolute;
}

.node-editor-top-inc {
  left: 158px;
  top: 50px;
  position: absolute;
}

.small-node-editor-top-dec {
  left: 128px;
  top: 55px;
  position: absolute;
}

.node-editor-top-dec {
  left: 158px;
  top: 65px;
  position: absolute;
}

.small-node-editor-img {
  left: 129px;
  top: 70px;
  position: absolute;
}

.node-editor-img {
  left: 159px;
  top: 85px;
  position: absolute;
}